<div class="container">

<div class="upload-box">
<%= form_with url: "/post/postimage_upload", local: true, data: { persist: 'garlic' } do |f| %>
  <div class="contact-box">
    <span class="itemName">画像をアップロードする</span> 
    <%= f.file_field :imageurl %>
    <%= f.submit "保存する", class: "submitBtn" %>
  </div>
<% end %> 
</div>

<div class="image-list" id="toggleMenu">
<% if @postimages != nil %>
  <% @postimages.each do |postimage| %>
  <div class="image-item">
    <img src="<%= postimage.imageurl %>" class="post-image">
    <input id="copyTarget<%= postimage.id %>" type="text" value="![post](<%= postimage.imageurl %>)" readonly>
    <button onclick="copyToClipboard(<%= postimage.id %>)">URLをコピー</button>
  </div>
  <% end %>
<% end %>
</div>

<div class="article-box">
<%= form_with id: 'new_form', url: "/post/#{@post.id}/update", local: true, data: { persist: 'garlic' } do |f| %>
  <p>タイトル</p> 
  <%= f.text_field :title , :value => @post.title %> 
  <p>ボディ</p>
  <%= f.text_area :text, class: "materialize-textarea", id: "md-textarea" , :value => @post.text %>
 <span># 大見出し</span> <span>## 中見出し</span> <span>### 小見出し</span> <span>**太字**</span><span>画像：上の画像URLをコピーして貼り付け</span><span>改行、空行：半角スペース2つ、&lt;br&gt;</span>
  
  <%= f.submit "プレビュー", class: "previewBtn", formtarget: "_blank", :data => { disable_with: false } %>
  <p></p>
  <%= f.submit "投稿する", class: "submitBtn" %>
  <%= f.submit "下書き保存", class: "draftBtn" %>
<% end %> 
</div>

<script>
  function copyToClipboard(num) {   
    var copyTarget = document.getElementById("copyTarget" + num);
    copyTarget.select();
    document.execCommand("Copy");
    alert("コピーできました！ : " + copyTarget.value);
  }
</script>

  <script>
 $("#new_form").submit(function(){
    if ($("input[name='title']").val() == '' 
      || $("input[name='text']").val() == '' 
       )
    {
      alert('必須項目を入力してください');
      return false;
    } else {
      $("#new_form").submit();
    }
  });
 </script>
  

  <script>
(function(window,document){
    var _toggleMenuButton = document.getElementById('toggleMenuButton');
    var _toggleMenu = document.getElementById('toggleMenu');
    var _clientH;
    init();
    function init() {
        _toggleMenu.style.height = 'auto';
        _clientH = _toggleMenu.clientHeight;
        _toggleMenu.style.height = '0px';
        _toggleMenuButton.addEventListener('click',function(){clickToggle();},false);
    }
    function clickToggle() {
        var lastH = _toggleMenu.style.height;
        _toggleMenu.style.height = (lastH == '' || lastH == '0px') ? _clientH + 'px' : '0px';
    }
})(window,document);
</script>
   </div>

