<div class="usernote">
<div class="title-design">USERNOTE</div>
<div class="usernote__cover"> <img src="<%= @post.user.coverimageurl %>"> </div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="usernote__header">
        <div class="row">
          <div class="col-5 col-sm-4 col-md-2"> 
            <%= link_to "/user/#{@post.user.id}" do %>
              <img src="<%= @post.user.iconimageurl %>">
            <% end %>
          </div>
          <div class="col-7 col-sm-8 col-md-10"> 
            <span class="usernote__header-date"><%= @post.updated_at.strftime("%Y.%m.%d")%></span>
            <br> <%= @post.user.selfideal %><br><span class="usernote__header-displayname"><%= @post.user.name %> </span>  
          </div>
        </div>
      </div>
      <!-- .usernote__header -->
      <div class="usernote__body">
        <h1 class="page-header"><%= @post.title %></h1>
        <p> </p>
        <%= markdown(@post.text).html_safe %>
        <br>
      </div>
    </div>
  </div>
</div>
<section id="usernote__recommend" class="section-black bs-docs-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="usernote__recommend-header">新着ユーザーノート</h3>
      </div>
      <% @recommend_posts.each do |recommend_post| %>
      <div class="col-lg-4 col-md-6">
        <div class="row">
          <div class="col-3"> 
            <%= link_to "/user/#{recommend_post.user.id}" do %>
              <img src="<%= recommend_post.user.iconimageurl %>">
            <% end %>
          </div>
          <div class="col-9">
            <div class="leader__indexlist__date">20.08.16 <%= recommend_post.user.name %></div>
            <div class="leader__indexlist__title">
              <%= link_to "#{recommend_post.title}", "/post/#{recommend_post.id}" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div> 
    </div>
    <!-- .row -->
  </div>
</section>
</div>