<div class="mypage__header" style="height:200px;">
  <div class="mypage__header__imgbg">
  <img class="mypage__header__imgbg-img" src="<%= @user.coverimageurl %>">
    </div>
</div>
<div class="mypage__header__name">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p> <%= @user.name %> <span>()</span></p>
      </div>
    </div>
  </div>
</div>
<div class="container mypage__main">
  <div class="row">
    <div class="col-12">
     <% if @user.iconimageurl == nil %>
      <%= image_tag "/noimage.png", class: "mypage__usericon-img" %>
    <% else %>
      <img src="<%= @user.iconimageurl %>" class="mypage__usericon-img">
    <% end %>
      
    </div>
    <!-- .col-12 -->
    <div class="col-sm-4 mypage__profile">
      <h3>プロフィール</h3> <%= @user.profile %> </div>
    <div class="col-sm-4 mypage__philosophy">
      <h3>自己理念</h3>
      <h4><%= @user.selfideal %></h4> 
    </div>
  </div>
</div>
<section id="mypage__usernote" class="section-black bs-docs-section">
  <div class="container">
    <h3>ユーザーノート</h3>
    <p><a href="http://member.ard-online.jp/wp-admin/edit.php?post_type=usernote" target="_blank" class="btn btn-primary">今スグユーザーノートを書く</a></p>
    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-lg-6 col-md-12 post-list">
        <div class="row">
          <div class="col-3">
            <%= link_to "/post/#{post.id}" do %>
              <div class="mypage__usernote-thumb" style="background-image:url(<%= post.user.coverimageurl %>);background-size:cover;background-position:center;width:100%;min-width:80px;height:80px;"> </div>
            <% end %>
          </div>
          <div class="col-9">
            <div class="usernote__mypagelist__date">20.08.17 <%= post.user.name %></div>
            <div class="usernote__mypagelist__title">
              <%= link_to "#{post.title}", "/post/#{post.id}" %>
            </div> 
          </div>
        </div>
      </div>
     <% end %>
        <!-- .row -->
      </div>
      <!-- .col-lg-6 col-md-12 -->
     
      <!-- .col-lg-6 col-md-12 -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</section>