<div class="mypage__header" style="height:200px;">
  <div class="mypage__header__imgbg">
    <img class="mypage__header__imgbg-img" src="<%= @user.coverimageurl %>">
  </div>
</div>
<div class="mypage__header__name">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p> <%= @user.name %></p>
      </div>
    </div>
  </div>
</div>
<div class="container mypage__main">
  <div class="row">
  <div class="col-12">
    <% if @user.iconimageurl == nil %>
      <%= image_tag "/noimage.png", class: "mypage__usericon-img" %>
    <% else %>
      <img src="<%= @user.iconimageurl %>" class="mypage__usericon-img">
    <% end %>
    <% if user_signed_in? %>
      <div class="mypage__profile__edit">  
        <%= link_to "カバー画像を更新する", "/profile/edit/coverimage" , { :class => "btn btn-sm"}%>
        <%= link_to "アイコン画像を更新する", "/profile/edit/iconimage" , { :class => "btn btn-sm"}%>
        <%= link_to "あなたの名前を更新する", "/profile/edit/name" , { :class => "btn btn-sm"}%>
        <%= link_to "自己理念、プロフィール情報を更新する", "/profile/edit/text" , { :class => "btn btn-sm"}%>
      </div>
    <% end %>
    </div>
    </div>
    <!-- .col-12 -->
    <div class="col-sm-4 mypage__profile">
      <h3>プロフィール</h3> <%= @user.profile %></div>
    <div class="col-sm-4 mypage__philosophy">
      <h3>自己理念</h3>
      <h4><%= @user.selfideal %></div>
  </div>
</div>
<section id="mypage__usernote" class="section-black bs-docs-section">
  <div class="container">
    <h3>ユーザーノート</h3>
    <p><a href="http://member.ard-online.jp/wp-admin/edit.php?post_type=usernote" target="_blank" class="btn btn-primary">今スグユーザーノートを書く</a></p>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-3">
            <a href="https://member.ard-online.jp/usernote/foreigner-community-vol15/">
              <div class="mypage__usernote-thumb" style="background-image:url(https://member.ard-online.jp/wp-content/themes/ar_ver5/img/noimage.png);background-size:cover;background-position:center;width:100%;min-width:80px;height:80px;"> </div>
            </a>
          </div>
          <div class="col-9">
            <div class="usernote__mypagelist__date">20.08.17 譲原 裕之</div>
            <div class="usernote__mypagelist__title"><a href="https://member.ard-online.jp/usernote/foreigner-community-vol15/">【軌跡 Day.15】在日外国人コミュニティ事業</a><br> <span>【目標】▶︎1年1.社会『道を定め、存在意義に火を灯し始める』2.目標同じ軸を持ち、自身の目標が定まった、命をかけられる</span> </div> <span class="badge badge-pill badge-info">♥ 4</span> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>