<!DOCTYPE html>
<html>
  <head>
    <title>SpecialistDevelop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
  <% if user_signed_in? %>
  <header class="pc">
    <div class="bs-component">
      <div class="containar">
        <nav class="navbar navbar-expand-lg"> 
        <div class="bg-wrapper">
          <%= link_to "AR", "/", { :class => "navbar-brand"} %>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"> <%= link_to "トップ", "/", { :class => "nav-link"} %> </li>
              <li class="nav-item"> <%= link_to "基礎知識", "/basiccategory", { :class => "nav-link"} %> </li>
              <li class="nav-item"> <%= link_to "マイページ", "/profile", { :class => "nav-link"} %>  </li>
              <li class="nav-item"> <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSeTdRazKFotEHDOu32EXl-U1AmBYJ9MrBymELCfB3ORdxpL3Q/viewform", { :class => "nav-link"} %> </li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul> 
           
          </div>
        </nav>
        </div>
      </div>
    </div>
  </header>
  <header class="sp header-sp">
  <a class="navbar-brand" href="/">AR</a>
      <div id="nav-drawer"> 
        <input id="nav-input" type="checkbox" class="nav-unshown"> 
        <label id="nav-open" for="nav-input"><span></span></label> 
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content"> 
          <label id="nav-close-btn" for="nav-input"><span></span></label>
          <ul class="header-list">
            <li class="listItem"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li class="listItem"> <%= link_to "トップ", "/" %></li>
            <li class="listItem"><%= link_to "基礎知識", "/basiccategory" %></li>
            <li class="listItem"><%= link_to "プロフィール", "/profile" %></li>
          </ul>
        </div>
      </div>
    </header>
  
  <% end %>
    <%= yield %>
  <footer>
    2020 © ALLROUNDER_Specialist
  </footer>
  </body>
  
</html>
